@font-face {
    font-family: 'Digital';
    src: url('./../fonts/digital-7.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #000;
}
.body-background{
    background-image: url(./../diwali.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.countdown-holder {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    font-family: 'Digital', sans-serif;
}

.countdown-holder div {
    background: #fff;
    width: 8rem;
    text-align: center;
    border-radius: 0.7rem;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.22);
    margin-bottom: 1.5rem;
}

.countdown-holder div:not(:last-child) {
    margin-right: 1.5rem;
}

.countdown-holder h1 {
    color: #000;
    font-size: 60px;
    font-weight: 700;
}
.countdown-holder span {
    color: red;
    font-size: 25px;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 0;
}
footer p {
    font-style: normal;
    color: #fff;
}
footer p a {
    text-decoration: none;
    color: #fff;
}

footer p i {
    color: #e92222;
}

@media (max-width: 650px) {
    .countdown-holder div:not(:nth-child(1)) {
        display: none;
    }
}
canvas {
	cursor: crosshair;
    display: block;
    height: 100%;
    width:100%;
}
.wishing-text
{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 30%;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    line-height: 1.4;
}

.begins
{
    color: #fff;
    text-align: center;
    font-size: 46px;
}
@media (max-width: 767px) {
    .wishing-text{
        top:10%;
        font-size: 22px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    .wishing-text{
        top:15%;
        font-size: 42px;
    }
}